<h1>Edit a Contact</h1>

<form style="text-align:center" action="/contacts/<%= @contact.id %>" method="post">
<input type="hidden" name="_method" value="put">

<label for="first_name">First Name:</label>
<input type="text" name="first_name" value="<%= @contact.first_name %>">
<br>
<label for="last_name">Last Name:</label>
<input type="text" name="last_name" value="<%= @contact.last_name %>">
<br>
<label for="email">Email:</label>
<input type="text" name="email" value="<%= @contact.email %>">
<br>
<label for="note">Note:</label>
<input type="text" name="note" value="<%= @contact.note %>">
<br>
<input type="submit" name="Submit">
</form>